<section id="register">
    <div class="register-box">
        <h2>Register</h2>
        <form #registrationForm = "ngForm">
            <div class="user-box">
                <input type="text" [(ngModel)]="user.username" #nameRef="ngModel" name="name" id="name"
                    pattern="[A-Za-z ]{3,}" title="Only chars are allowed,Min 3 char required" required>
                <div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
                    <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required, cant be balnk.</p>
                    <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Name must have at least 3 chars, only chars are
                          allowed.</p>
                </div>
                <label>Name</label>
            </div>
            <div class="user-box">
                <select id="role" [(ngModel)]="user.role" #roleRef name="role">
                    <option value="Influenzar">Influenzar</option>
                    <option value="Advertiser">Advertiser</option>
                </select>
            </div>    
            
            <div class="user-box">
                <input type="password" [(ngModel)]="user.password" #passwordRef='ngModel' name="password" id="password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*()_+\-={}\[\]|;:''<>,./?])(?=.*[a-zA-Z]).{8,}$"
                    title="Password must contain atleast one lowercase, uppercase,digit,special character and atleast 8 characters" required>
                <div *ngIf="passwordRef.invalid && (passwordRef.touched || passwordRef.dirty)">
                    <p *ngIf="passwordRef.errors?.['required']" class="text-danger">password is required</p>
                    <p *ngIf="passwordRef.errors?.['pattern']" class="text-danger">
                        Password must contain atleast one lowercase,uppercase,special character,digit and not contain whitespace and must be minimum 8 charcters long
                    </p>
                </div>
                <label>Password</label>
                <div class="user-box">
                    <input type="password" name="rpassword" id="rpassword"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*()_+\-={}\[\]|;:''<>,./?])(?=.*[a-zA-Z]).{8,}$"
                        title="Password must contain atleast one lowercase, uppercase,digit,special character and atleast 8 characters" required>
                    <label>Retype Password</label>
                </div>
            </div>
            <input type="submit" class="btn btn-secondary" (click)="Register()" [disabled]="!registrationForm.valid" value="submit">
        </form>
    </div>
</section>