.register-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.register-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.register-box .user-box{
    position: relative;
}

.register-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.register-box .user-box select {
    width: 100%;
    padding: 10px 0; /* Adjust padding to match input fields */
    font-size: 16px; /* Ensure font size matches input fields */
    color: white; /* Match text color with input fields */
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #03e9f4; /* Ensure border styling matches input fields */
    outline: none;
    background: transparent; /*Ensure background matches input fields */
    -webkit-appearance: none; /* Remove default styling */
    -moz-appearance: none;
    appearance: none;
}

/* Additional styling for dropdown arrow */
.register-box .user-box select::-ms-expand {
    display: none; /* Hide dropdown arrow in IE */
}
.register-box .user-box select::after {
    content: '▼'; /* Custom dropdown arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
.register-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.register-box .user-box input:focus ~ label,
.register-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.register-box .user-box select:focus ~ label,
.register-box .user-box select:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

input[type=submit]{
    width: 100%;
}


.back{
    margin-top: 3%;
}
.register-box input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}
.register-box .user-box select option {
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the background color as needed */
    color: #fff; /* Ensure the text color is visible against the background */
}