.login{
    margin: 16px auto;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px;
}

.login-header{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-cotainer{
    background: #ebebeb;
    padding: 12px;
}

.login input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    border-radius: 4px;
    /* border-width: 1px;
    border-style: solid; */
    padding: 14px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  /* border-color: #bbb; */
  color: #555;
}

.login input[type="name"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}